@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Heebo', sans-serif;
}

.side-pic {
    background-image: url('./assets/side-picture-container.png');
    width: 50%;
    border-top-right-radius: 50px;
}
@media only screen and (max-width:768px) {
    .side-acc {
        background-image: url('./assets/side-picture-container.png');
    width: 50%;
    height: 100%;
    }
}